body {
    background-color: #051122;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url(/images/LandingPage2_BG.jpg);
}

@media(max-width:1280px) {
    body {
        background-position: -170px top;
    }
}

.container {
    max-width: 1280px;
    min-width: 1024px;
    margin: 0 auto;
    font: 1.2em Verdana, Arial, Times New Roman, sans-serif;
    font-weight: 400;
    display: grid;
    grid-template-columns: 205px auto 200px;
    grid-template-areas:
        "header     header  header "
        "navigation content content"
        "navigation content content";
}

header {
    grid-area: header;
    position: relative;
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    height: 62px;
    width: 512px;
}

/*Nav*/
nav {
    grid-area: navigation;
    position: relative;
    width: 180px;
    top: 5px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 10pt;
    font-weight: 700;
    line-height: 12pt;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.nav-top {
    background-image: url(/images/nav/box-top.gif);
    position: absolute;
    left: -5px;
    top: -12px;
    height: 12px;
    width: 180px;
    background-repeat: no-repeat;
}

.nav-chain {
    background-image: url(/images/nav/chain.gif);
    position: absolute;
    top: 0;
    height: 40px;
    width: 8px;
    background-repeat: repeat-y;
    z-index: 10;
}

.nav-chain.right {
    right: 9px;
}

.nav-chain.left {
    left: -5px;
    height: 21px;
}

.nav-chain.right.submenu {
    right: -4px;
    height: 21px;
}

.nav-bottom {
    background-image: url(/images/nav/box-bottom.gif);
    position: absolute;
    top: 39px;
    left: -5px;
    height: 12px;
    width: 180px;
    background-repeat: no-repeat
}

.nav-bottom.menu {
    position: relative;
    top: 0;
}

.nav__login {
    position: relative;
    left: 5px;
    top: 8px;
    width: 100%;
    margin-bottom: 38px;
    background-repeat: no-repeat;
}

.nav__login__container {
    background-image: url(/images/nav/loginbox-textfield-background.gif);
    position: relative;
    height: 40px;
    width: 160px;
    left: 5px;
    background-repeat: repeat-y;
}

.nav__login__container__button {
    background-image: url(/images/nav/mediumbutton.gif);
    position: absolute;
    width: 150px;
    height: 37px;
    top: 1px;
    left: 5px;
    cursor: pointer;
}

.nav__login__container__button:hover {
    background-image: url(/images/nav/mediumbutton-over.gif);
}

.nav__menu {
    position: relative;
    left: 5px;
    background-repeat: no-repeat;
}

.nav__menu__button {
    background-image: url(/images/nav/button-background.gif);
    position: relative;
    height: 32px;
    width: 170px;
    cursor: pointer;
}

.nav__menu__button:hover {
    background-image: url(/images/nav/button-background-over.gif);
}

.nav__menu__button__icon {
    position: absolute;
    height: 32px;
    width: 32px;
    left: 8px;
}

.nav__menu__button__label {
    position: absolute;
    height: 22px;
    width: 116px;
    top: 6px;
    left: 42px;
}

.nav__menu ul {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
    width: 160px;
    display: none;
    cursor: pointer;
}

#news {
    display: block;
}

.nav__menu li {
    position: relative;
    color: #d7d7d7;
    background-color: rgb(13, 46, 43);
}

.nav__menu li a {
    color: #d7d7d7;
    text-decoration: none;
}

.nav__menu li:hover {
    background-color: rgb(20, 67, 63);
}

.nav__menu__activeicon {
    background-image: url(/images/nav/icon-activesubmenu.gif);
    position: absolute;
    top: 5px;
    left: 3px;
    width: 10px;
    height: 10px;
    background-repeat: no-repeat;
    visibility: hidden;
}

#activeiconSectionNewsLatestnews {
    visibility: visible;
}

.nav__menu__submenu {
    border-top: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 15px;
    border-bottom: 1px solid #4b7874;
    overflow: hidden;
}

#sumbenuSectionNewsLatestnews {
    color: white;
}

/*Main*/
.main__box {
    position: relative;
    margin: 4px 5px 18px;
    border-left: 2px solid #3a3738;
    border-right: 2px solid #3a3738;
    background-color: #debb9d;
    background-repeat: no-repeat;
    overflow: visible;
}

.main-tl {
    background-image: url(/images/main/corner-tl.gif);
    position: absolute;
    top: -4px;
    left: -5px;
    width: 17px;
    height: 17px;
    z-index: 50;
}

.main-tr {
    background-image: url(/images/main/corner-tr.gif);
    position: absolute;
    top: -4px;
    right: -5px;
    width: 17px;
    height: 17px;
    z-index: 50;
}

.main-bl {
    background-image: url(/images/main/corner-bl.gif);
    position: absolute;
    bottom: -3px;
    left: -5px;
    width: 17px;
    height: 17px;
    z-index: 50;
}

.main-br {
    background-image: url(/images/main/corner-br.gif);
    position: absolute;
    bottom: -3px;
    right: -5px;
    width: 17px;
    height: 17px;
    z-index: 50;
}

.main-border {
    background-image: url(/images/main/border-1.gif);
    position: relative;
    height: 6px;
    width: 100%;
    background-repeat: repeat-x;
}

.main__box__heading.red {
    background-image: url(/images/main/cacheinfo_background.gif);
    height: 28px;
    font-size: 10px;
    color: white;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.main__box__heading.red p {
    padding-left: 12px;
    font-size: 9pt;
}

.main__box__heading.red a {
    font-size: 7pt;
    padding-right: 12px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
}

.main__box__heading.red a img {
    padding-right: 5px;
}

a:active,
a:hover {
    text-decoration: underline;
}

.main__box__heading.green {
    background-image: url(/images/main/title-background-green.gif);
    height: 24px;
}

.main__box section {
    display: none;
}

#SectionNewsLatestnews {
    display: block;
}

.main__box__section__headline {
    position: absolute;
    top: 6px;
    left: 5px;
}

.main__box__section__content {
    margin: 4px;
    border: 1px solid #793d03;
    padding: 10px;
    background-image: url(/images/main/scroll.gif);
    height: auto !important;
    font-size: 10pt;
    color: #5a2800;
}

article {
    margin-bottom: 10px;
}

.main__box__section__content__article__caption {
    position: relative;
    background-color: #5f4d41;
}

.main__box__section__content__article__caption.message {
    background-color: #d4c0a1;
    margin-bottom: 15px;
}

.caption {
    background-image: url(/images/main/box-frame-edge.gif);
    position: absolute;
    width: 5px;
    height: 5px;
    z-index: 50;
}

.caption.tl {
    top: -2px;
    left: -2px;
}

.caption.tr {
    top: -2px;
    right: -2px;
}

.caption.bl {
    left: -2px;
    bottom: -3px;
}

.caption.br {
    right: -2px;
    bottom: -3px;
}

.caption.top,
.caption.bottom {
    background-image: url(/images/main/table-headline-border.gif);
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0;
}

.caption.top {
    top: -1px;
}

.caption.bottom {
    bottom: -2px;
}

.caption.left,
.caption.right {
    background-image: url(/images/main/box-frame-vertical.gif);
    position: absolute;
    height: 100%;
    width: 3px;
    top: 0;
}

.caption.left {
    left: -1px;
}

.caption.right {
    right: -1px;
}

.caption-text {
    display: block;
    font-size: 10pt;
    color: white;
    margin-left: 4px;
    padding: 6px;
}

.caption-text.message {
    color: #5a2800;
}

.main__box__section__content__article__border {
    border: 2px solid #55636c;
    background-color: #f1e0c5;
    padding: 10px;
}

/*Login*/
.error {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.inputbox {
    display: flex;
    flex-wrap: wrap;
}

.inputbox__label {
    font-size: 10pt;
    font-weight: 700;
    padding-right: 15px;
}

.inputbox__inputfield {
    flex-grow: 1;
}

.inputbox__inputfield input {
    width: 100%;
    padding: 0;
}

.inputbox__buttonfield {
    padding-left: 20px;
    margin-bottom: 5px;
}

.inputbox__buttonfield input {
    background-image: url(/images/main/button_blue.gif);
    width: 135px;
    height: 25px;
    display: block;
    cursor: pointer;
    border: none;
    font-size: 12px;
    color: #ffd18c;
    text-shadow: -1px -1px 0 #000, 0 -1px 0 #000, 1px -1px 0 #000, 1px 0 0 #000, 1px 1px 0 #000, 0 1px 0 #000, -1px 1px 0 #000, -1px 0 0 #000;
}

.inputbox__buttonfield input:hover {
    background-image: url(/images/main/button_blue_over.gif);
}

.flex-break {
    flex-basis: 100%;
}

.inputbox__buttonfield.green input {
    background-image: url(/images/main/button_green.gif);
}

.inputbox__buttonfield.green input:hover {
    background-image: url(/images/main/button_green_over.gif);
}

.inputbox__buttonfield.red input {
    background-image: url(/images/main/button_red.gif);
}

.inputbox__buttonfield.red input:hover {
    background-image: url(/images/main/button_red_over.gif);
}

.statusbox {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.password-labels {
    width: 165px;
    height: 79px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.statusbox .inputbox__inputfield {
    margin-bottom: 5px;
}

.inputbox__inputfield.notspaced,
.inputbox__buttonfield.notspaced {
    margin-bottom: 0;
}

#statusbox-gem {
    height: 52px;
    width: 52px;
    padding-left: 10px;
    padding-right: 20px;
}

#statusbox-status {
    flex-grow: 1;
}

#statusbox-status p {
    font-size: 14pt;
}

#statusbox-status span{
    font-size: 9pt;
}

h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 18pt;
}

.new-player {
    font-size: 10pt;
}

.new-player ul {
    margin-left: 10px;
}

.new-player a:visited {
    color: #5a2800;
}

.listed-table {
    box-shadow: 3px 3px 2px #875f3e;
    font-size: 10pt;
    background-color: #d5c0a1;
    margin: -6px;
    margin-bottom: 4px;
    width: 101%;
}

.listed-table th,
.listed-table td {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #faf0d7;
    padding: 2px 5px;
}

.listed-table tbody:nth-child(2) tr:nth-child(odd) {
    background-color: #f1e0c5;
}
/*News*/
.news {
    background-image: url(/images/main/newsheadline_background.gif);
    position: relative;
    min-height: 30px;
    margin-bottom: 5px;
    border: 1px solid #000;
    color: white;
}

.news__icon {
    position: absolute;
    left: 0;
    margin-left: 5px;
}

.news__date {
    font-size: 7pt;
    margin-left: 45px;
}

.news__text {
    line-height: 28px;
    font-size: 10pt;
}

#newsContainer p {
    margin: 13px 0;
    font-size: 10pt;
}
/*Library*/
mark {
    background-color: transparent;
    color: #6f6fb2;
    font-weight: 700;
}

#creaturesFlex,
#bossesFlex {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.creature-container {
    width: 100px;
    height: 100px;
    margin: 5px;
}

.creature {
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
/*Community*/
#characterInfoTable th {
    width: 120px;
}

.sub.fixed_width {
    width: 100%;
}

.fixed_width td:nth-child(3),
.sub.fixed_width td:nth-child(2) {
    width: 90px;
}

.separator:not(:last-child) {
    border-bottom: 2px solid #875f3e;
}
/*Footer*/
footer {
    font-size: 7pt;
    text-align: center;
    position: relative;
    width: 100%;
    padding: 2px 0 20px;
    color: white;
}

footer a {
    color: white;
}